Django==5.0
whitenoise
djangorestframework
drf-nested-routers
djangorestframework-simplejwt
django-import-export
pillow
channels[daphne]
channels-redis
daphne
django-filter
firebase-admin
django-editorjs-fields
supabase
boto3
django-storages
django-editorjs
python-dotenv
django-environ
django-cors-headers